<p id="notice"><%= notice %></p>

<div>
  <div><a href="/buildings">buildings</a></div>
</div>

<h1>Architects</h1>

<table>
  <tbody>
    <% @architects.each do |architect| %>
      <tr>
        <td><%= link_to architect.name, architect %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Architect', new_architect_path %>
