@import "bootstrap";
@import "dropzone/dropzone";


.building-title {
  color: #2799bf;
  font-size: 2em;
  font-family: serif;
}

.building-architect {
  color: #2799bf;
  font-family: serif;
  margin-bottom: 0.5em;
}

.building-details {
  border: 1px solid red;
}

.map {
  height: 200px;
  border: 1px solid #eee;
  background-color: #eee;
}

.building-details .row {
}

.navbar {
  background-color: rgb(234,93,0);
  color: white;
  width: auto;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 36px;
  word-wrap: break-word;
}

.building-image {
  margin-bottom: 10px;
}
